---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: '兴趣' },
  { depth: 2, slug: 'tools', text: '工具' },
  { depth: 2, slug: 'about-blog', text: '关于博客' }
]
---

<PageLayout title='关于' {headings} comment>
  <p>Developer</p>
  <p>
    大学生一枚。<Spoiler>春日影享受者</Spoiler>
  </p>

  {/* general-talk */}
  <h2 id='hobbies'>兴趣</h2>
  <ul>
    <li>平时写写自己感兴趣的代码</li>
    <li>偶尔追追番、看看漫画</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>工具</h2>
  <p>我当前的开发环境</p>
  <ToolSection
    class='mb-5'
    title='环境'
    tools={[
      {
        name: 'Arch Linux',
        description: '操作系统',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Wayland',
        description: '窗口管理',
        href: 'https://wayland.freedesktop.org',
        icon: import('@/assets/tools/wayland.svg?raw')
      },
      {
        name: 'KDE',
        description: '桌面环境',
        href: 'https://kde.org',
        icon: import('@/assets/tools/kde.svg?raw')
      },
      {
        name: 'Chromium',
        description: '浏览器',
        href: 'https://www.chromium.org',
        icon: import('@/assets/tools/chromium.svg?raw')
      },
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
    ]}
  />

  <ToolSection
    class='mb-5'
    title='语言'
    tools={[
      {
        name: 'Python',
        description: '',
        href: 'https://www.python.org/',
        icon: import('@/assets/tools/python.svg?raw')
      },
      {
        name: 'Dart',
        description: '',
        href: 'https://dart.dev/',
        icon: import('@/assets/tools/dart.svg?raw')
      },
      {
        name: 'C++',
        description: '',
        href: 'https://isocpp.org/',
        icon: import('@/assets/tools/cpp.svg?raw')
      },
    ]}
  />


  <!-- {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne.
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/cworld1',
        text: 'followers',
        api: 'github/cworld1'
      },
      {
        platform: 'Telegram',
        icon: 'telegram',
        color: '#2ca5e0',
        link: 'https://t.me/cworld0_cn',
        text: 'subscribers',
        api: 'telegram/cworld0_cn'
      },
      {
        platform: 'Weibo',
        icon: 'weibo',
        color: '#e71f19',
        link: 'https://weibo.com/cworld0',
        text: 'followers',
        api: 'weibo/5501674056'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/id/cworld',
        text: 'games',
        api: 'steamgames/76561199021278120'
      }
    ]}
  /> -->

  {/* about-blog */}
  <h2 id='about-blog'>关于网站</h2>
  <p>网站历史:</p>
  <Timeline
    events={[
      {
        date: '2025-10-15',
        content:
          '部署了<a href="https://status.zinc233.top">网站状态监控</a>'
      },
      {
        date: '2025-09-28',
        content:
          '尝试开始部署自己的博客'
      },
    ]}
  />
  <p>
    网站的顺利运行和个性化定制还有赖于以下优秀项目/服务提供商提供的资源和技术支持：
  </p>
  <ul>
    <li>域名解析: <a href='https://cloudflare.com' target='_blank'>Cloudflare</a></li>
    <li>
      框架 & 主题: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      网站托管: <a href='https://edgeone.ai/zh' target='_blank'>Edge One</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <!-- <li>评论系统: <a href='https://waline.js.org' target='_blank'>Waline</a></li> -->
    <li>
      访问统计: <a href='https://www.leancloud.app/' target='_blank'>LeanCloud</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      网站状态监控: <a href='https://github.com/lyc8503/UptimeFlare' target='_blank'>UptimeFlare</a>
    </li>
    <!-- <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li> -->
  </ul>
</PageLayout>
