---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'activities', text: 'Github Activities' },
  { depth: 2, slug: 'front', text: '前端小项目' },
]
---

<PageLayout title='Projects' {headings} view>
  <h3 id='activities'>Github Activities</h3>
  <p>
    <Image
      src='https://ghchart.rshah.org/Zinc23333'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <!-- <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p> -->
  <!-- <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button> -->

  <h2 id='front'>前端小项目</h2>
  <ProjectSection
    projects={[
      {
        name: 'cf-clipboard',
        description: '基于 Cloudflare Workers 的网络文本共享服务',
        links: [
          { type: 'github', href: 'https://github.com/Zinc23333/cf-clipboard' },
          { type: 'site', href: 'https://clipboard.zinc233.top' },
        ]
      }
    ]}
  />

</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
